<table class="nav-table">
	<tr class="top">
		<td>
			<div><a href="#me" class="menu-link">Paulius Kancleris</a></div>
		</td>
	</tr>
	<tr class="projects">
		<td>
			<div class="image-box">
				<a href="#project1" class="menu-link">
					<img src="../images/pong/startScreen.png" alt="Pong">
				</a>
				<div class="text-box">
					<a href="#project1" class="menu-link">
						<h1>Pong</h1>
						<h2>Retro Single / Multiplayer Game</h2>
						<p></p>
					</a>
				</div>
			</div>
			<div class="image-box">
				<a href="#project2" class="menu-link">
					<img src="../images/forestJumper/level9.png" alt="Forest Jumper">
				</a>
				<div class="text-box">
					<a href="#project2" class="menu-link">
						<h1>Forest Jumper</h1>
						<h2>Single Player Platform Game</h2>
						<p></p>
					</a>
				</div>
			</div>
			<div class="image-box">
				<a href="#project3" class="menu-link">
					<img src="../images/calculator/completeExpression.png" alt="Calculator">
				</a>
				<div class="text-box">
					<a href="#project3" class="menu-link">
						<h1>Calculator</h1>
						<h2>My intro to Python</h2>
						<p></p>
					</a>
				</div>
			</div>
			<div class="image-box">
				<a href="#project4" class="menu-link">
					<img src="../images/multisweeper/gameView.png" alt="Multisweeper">
				</a>
				<div class="text-box">
					<a href="#project4" class="menu-link">
						<h1>Multisweeper</h1>
						<h2>Dissertation Project</h2>
						<p></p>
					</a>
				</div>
			</div>
			<div class="image-box">
				<a href="#project5" class="menu-link">
					<img src="../images/comingSoonNav.png" alt="Coming Soon">
				</a>
				<div class="text-box">
					<a href="#project5" class="menu-link">
						<h1>Project 5</h1>
						<h2>Coming Soon</h2>
						<p></p>
					</a>
				</div>
			</div>
			<div class="image-box">
				<a href="#project6" class="menu-link">
					<img src="../images/comingSoonNav.png" alt="Coming Soon">
				</a>
				<div class="text-box">
					<a href="#project6" class="menu-link">
						<h1>Project 6</h1>
						<h2>Coming Soon</h2>
						<p></p>
					</a>
				</div>
			</div>
			<div class="image-box">
				<a href="#project7" class="menu-link">
					<img src="../images/comingSoonNav.png" alt="Coming Soon">
				</a>
				<div class="text-box">
					<a href="#project7" class="menu-link">
						<h1>Project 7</h1>
						<h2>Coming Soon</h2>
						<p></p>
					</a>
				</div>
			</div>
			<div class="image-box">
				<a href="#project8" class="menu-link">
					<img src="../images/comingSoonNav.png" alt="Coming Soon">
				</a>
				<div class="text-box">
					<a href="#project8" class="menu-link">
						<h1>Project 8</h1>
						<h2>Coming Soon</h2>
						<p></p>
					</a>
				</div>
			</div>
			<div class="image-box">
				<a href="#project9" class="menu-link">
					<img src="../images/comingSoonNav.png" alt="Coming Soon">
				</a>
				<div class="text-box">
					<a href="#project9" class="menu-link">
						<h1>Project 9</h1>
						<h2>Coming Soon</h2>
						<p></p>
					</a>
				</div>
			</div>
			<div class="image-box">
				<a href="#project10" class="menu-link">
					<img src="../images/comingSoonNav.png" alt="Coming Soon">
				</a>
				<div class="text-box">
					<a href="#project10" class="menu-link">
						<h1>Project 10</h1>
						<h2>Coming Soon</h2>
						<p></p>
					</a>
				</div>
			</div>
		</td>
	</tr>
	<tr class="button transform" id="button">
		<td id="ham">
			<div class="label">
				<h3>Projects</h3>
			</div>
			<div class="ham-btn" id="ham-btn">
				<div class="icon"></div>
			</div>
		</td>
	</tr>
</table>